.list-today {
  margin: 3em;
  border-radius: 25px 25px 0px 0px;
  padding: 1.5em;
  background-color: #faf6eb;
  background-image: radial-gradient(#9e9d9d 0.5px, #faf6eb 0.5px);
  background-size: 10px 10px;
  color: #000000;
}
